<html><head>
    <title>Target: RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
  <h2>
    We played <%= @player %>!
  </h2>

  <h2>
   They played <%= @cpu %>!
  </h2>

  <h2>
    <%= @result %>
  </h2>

  <a href="/">
    Rules
  </a>

</body>
</html>
